{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}



{% block static_files %}

    <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
{% endblock static_files %}


    {% block tab_title %}

        <title>Todo List</title>

    {% endblock tab_title %}


    {% block page_content %}
    
    <p style="display: inline; color:white;">Welcome <p style="color: rgb(58, 136, 225); display: inline; font-size: 20px;">{{ user }}</p></p>
    <div class="row d-flex justify-content-center container">
      

      <div class="col-md-8">
        <a class="border-0 btn-transition btn btn-outline-info" style="text-decoration:None; color: rgb(255, 255, 255)" nav-link href="{% url 'account:profile' %}"><i class="fa fa-user"></i><b> Profile</b></a>
        <a class="border-0 btn-transition btn btn-outline-danger" style="text-decoration:None; color: rgb(255, 255, 255)" nav-link href="{% url 'account:logout' %}"><i class="fa fa-sign-out"></i><b> Logout</b></a>
        <a class="border-0 btn-transition btn btn-outline-primary" style="text-decoration:None; color: rgb(255, 255, 255)" nav-link href="{% url 'todo:export-email' %}"><i class="fa fa-print"></i><b> Export as Email</b></a>
        <br>
        <br>
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-header-tab card-header">
              
              <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                  class="fa fa-tasks"></i>&nbsp;Tasks List
              </div>
              
            </div>
          
        <div class="col-md-8">

    </div>
                <div style="position: static;" class="ps ps--active-y">
                  <div class="ps-content">

                    <div class="widget-content p-0">
                        
                      <div class="widget-content-wrapper">
                        
                        <div class="widget-content-left mr-2">
                          
                            
                          </div>
                          <div class="widget-content-right">
                          <small style="color:rgb(41, 118, 0);">Add <i class="fa fa-arrow-right"></i></small>
                          <a class="border-0 btn-transition btn btn-outline-success" href="{% url 'todo:create-todo' %}"><i class="fa fa-plus" data-toggle="tooltip" data-placement="bottom" title="Create Todo"></i></a>

                            
                        </div>

                    </div>
                      
                      {% for todo in todos %}
                      
                      <ul class=" list-group list-group-flush">
                              <li class="list-group-item">
                          
                          
                        <div class="todo-indicator badge-warning"></div>
                        <div class="widget-content p-0">
                            
                          <div class="widget-content-wrapper">
                            
                            <div class="widget-content-left mr-2">
                              <div class="custom-checkbox custom-control">
                                </div>
                                
                            </div>
                            <div class="widget-content-left">
                              <div class="widget-heading">

                                <h3>{{todo.title}}</h3>

                                {% if todo.priority == "H" %}
                                Priority:<div class="badge badge-danger ml-2"> {{todo.priority}}

                                
                                {% elif todo.priority == "L" %}
                                Priority:<div class="badge badge-secondary ml-2"> {{todo.priority}}

                                {% else %}
                                Priority:<div class="badge badge-info ml-2"> {{todo.priority}}

                                {% endif %}

                                </div>
                                
                            </div>

                            {% if todo.status == 'D' %}
                            <p style="display:inline">Status: </p><i style="color: rgb(99, 163, 2); font-size:20px" class="fa fa-check-square" data-toggle="tooltip" data-placement="bottom" title="Done Status"></i>

                            {% elif todo.status == 'P' %}
                            <p style="display:inline">Status: </p><i style="color: rgb(255, 193, 7); font-size:20px" class="fa fa-pause" data-toggle="tooltip" data-placement="bottom" title="Pending Status"></i>
                            {% else %}
                            <p style="display:inline">Status: </p><i style="color: rgb(23, 162, 184); font-size:20px" class="fa fa-level-up" data-toggle="tooltip" data-placement="bottom" title="In Progress Status"></i>

                            {% endif %}

                            <br>
                            {% if todo.due_date%}
                            <p style="display:inline">Due-Date: </p><i style="color: rgb(23, 162, 184); font-size:20px" class="fa fa-calendar-check-o" data-toggle="tooltip" data-placement="bottom" title="Due Date"></i>
                            {% else %}
                            <p style="display:inline">Due-Date: </p><i style="color: rgb(227, 59, 26); font-size:20px" class="fa fa-calendar-times-o" data-toggle="tooltip" data-placement="bottom" title="Due Date"></i>
                            {% endif %}

                        </div>
                        <br>

                            <div class="widget-content-right">
                              
                              
                              <small style="color: #1f3700;">Show Details <i class="fa fa-arrow-right"></i></small>
                              <a class="border-0 btn-transition btn btn-outline-warning" style="text-decoration: None; color:rgb(38, 45, 23)" href="{% url 'todo:todo-detail' pk=todo.pk%}"><i class='fa fa-info-circle'></i></a>

                              <img style="height: 120px;width: 120px;" src="{{todo.image.url}}" class="card-img-top" alt="..." alt="A generic square placeholder image with rounded corners in a figure.">


                            </div>
                          </div>
                        </div>
                        
                    </li>
                    
                </ul>
                {% endfor %}

            </div>
            
        </div>
</div>

<br>

  {% endblock page_content %}
