{% extends "base.html" %}
{% load static %}


{% block static_files %}

<link rel="stylesheet" type="text/css" href="{% static 'account/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/bootstrap/css/bootstrap.min.css' %} ">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'account/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'account/css/util.css' %}">
<!--===============================================================================================-->

{% endblock static_files %}



{% block tab_title %}

<title>Login</title>

{% endblock tab_title %}


{% block page_content %}

      <form method="post" class="login100-form validate-form">
        {% csrf_token %}
        <span class="login100-form-title p-b-43">
          Login to continue
        </span>
        
        
          {{form.as_p}}

        <div class="flex-sb-m w-full p-t-3 p-b-32">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              Remember me
            </label>
          </div>

          <div>
            <a href="{% url 'account:reset_password' %}" class="txt1">
              Forgot Password?
            </a>
          </div>
        </div>
    

        <div class="container-login100-form-btn">
          <button type="submit" class="login100-form-btn">
            Login
          </button>
        </div>
        

        <br>

        <p>Don't have account?</p>
        <a class="nav-link" href="{% url 'account:register' %}">Register</a>

        {% comment %} <div class="text-center p-t-46 p-b-20">
          <span class="txt2">
            or sign up using
          </span>
        </div>

        <div class="login100-form-social flex-c-m">
          <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
            <i class="fa fa-facebook-f" aria-hidden="true"></i>
          </a>

          <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </div> {% endcomment %}
      </form>


    {% endblock page_content %}